/* 초기화 */
*{
    margin: 0; padding:0; border:0;
    vertical-align: baseline;
}

article,  header, hgroup,  nav, section, {
    display: block;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
    font-size: 1.5em;
    font-family: 'Minion Pro', 휴먼아미체, Arial;
}


/* 페이지 구성 */
body {
    width: 1280px;  margin: 0 auto;
    background: #E6E6E6;
}

#wrapper {
    background: white;
    height: 1500px;
    margin: 40px 0; padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.7);
}

/* Main */
#main {
    padding-left: 300px;
}

/* Header */
#header {
    padding: 40px 50px;
}

h1 {
    text-align: center;
    color: black;
    font-family: Trajan Pro, Serif;
    font-size: 6em;
}


h3{
    font-family: 'Monotype Corsiva', 'Tekton Pro', 'Times New Roman';
    font-size: 30px !important;
    text-align: center;
}


/* Calendar */
h2 {
    font-size: 200%
}
#calendar {
    display: inline-block;
    width: 0 auto; height: auto 0;
    margin-left: 70px;
    padding: 70px;
}
caption {
    font-size: 500%;
    font-family: 'Times New Roman';
}
td, th{ font-size: 300%;}


/* Section/Article */
header {
    margin: 0 0 2em 0;
}

header > h2 {
    font-family: 'Times New Roman', Arial;
    font-size: 2em;
    display: block;
    margin-top: 1em;
}

header > p {
    font-family: 'Arial', sans-serif;
    font-weight: 300;
    display: block;
    color: #999;
}

section, article {
    margin-bottom: 3em;
}



/* Pagination */
/* html5up-striped Pagination 참고했음 */
.pagination .pages {
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}

.pagination .pages span {
    display: inline-block;
    width: 1.5em;
    text-align: center;
    margin: 0 0.4em 0 0;
}

.pagination .pages a {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: inherit;
    background-color: #e8e8e8;
    background-image: url("images/bg02.png");
    color: #565656;
    margin: 0 0.4em 0 0;
    border-radius: 0.4em;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    box-shadow: inset 0 0.075em 0.25em 0 rgba(0, 0, 0, 0.1);
}

.pagination .pages a:hover {
    background-color: #dadada;
}

.pagination .pages a.active {
    background-color: #364050;
    color: #fff;
    box-shadow: none;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
}


/* Sidebar */

#sidebar {
    position: absolute;
    padding: 50px 20px;
    border-radius: 5px 0 0 5px;
    top: 40px;
    left: 29px;
    width: 15em;
    height: 221.5%;
    color: white;
    background-color:#363636;
}

/* List */
#WishList{
    width: 1000px; height: 1000px;
    background-image: url('images/WishList.jpg');
    background-size: 80%;
    background-repeat: no-repeat;
    margin-left: 70px;
}

 .lists{
    font-size: 50px;
}

#numbers{
    padding: 200px 50px;
}

.clearfix {
    overflow: auto;
}
